<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">Sarajevo Go</a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="signin.html" class="page-scroll">Sign in</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse --> 
        </div>
      </nav>
      <!-- Header -->
      <header id="header">
        <div class="intro">
          <div class="overlay">
            <div class="container">
              <div class="row">
                <div class="intro-text">
                  <h1>Sarajevo Go</h1>
                  <p>Restaurants / Hotels / Shopps / Parks</p>
                  <a href="signup.html" class="btn btn-custom btn-lg page-scroll">Sign up</a> </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- About Section -->
      <div id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 ">
              <div class="about-img"><img src="assets/img/about.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="about-text">
                <h2>About us</h2>
                <hr>
                <p>Whether you are planning to stay in a cosy little hostel, treat yourself with a luxury hotel, planning a unforgetable night, a quite dinner at a great restaurant or just plan a sightseeing Sarajevo Go will help you find your way in  the lovely city of Sarajevo.With great tools to help you plan your perfect day in Sarajevo like tracking of the nearest hotels, resturants, parks and shopps.Sarajevo Go is the way to go. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div id="footer">
        <div class="container text-center">
          <div class="col-md-6">
            <h3>Address</h3>
            <div class="contact-item">
              <p>Alojza Benca 1,</p>
              <p>Sarajevo, BIH</p>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Contact Info</h3>
            <div class="contact-item">
              <p>Phone: +38761482633</p>
              <p>Email: lejla.krajinic@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="container-fluid text-center copyrights">
          <div class="col-md-8 col-md-offset-2">
            <div class="social">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            <p>&copy; 2018 All rights reserved. Designed by Lejla</p>
          </div>
        </div>
      </div>