<div class="col-lg-6">
                <h2 class="menu-section-title">Users</h2>
               <tr>
                  <h6>Name:</h6>
                  <td>
                     <input class="form-control" placeholder="Name" ng-model="user.name" />
                  </td>
                  <h6>Email:</h6>
                  <td>
                     <input class="form-control" placeholder="Email" type="text" ng-model="user.email" />
                  </td>
                  <h6>Password:</h6>
                  <td>
                     <input class="form-control" placeholder="Password" ng-model="user.password" />
                  </td>
               </tr>
 </div>