<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign Up</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="../assets/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="center-container">
		<div class="main">
			<h1 class="w3layouts_head">Registration Form</h1>
				<div class="w3layouts_main_grid">
					<form class="w3_form_post" name="myForm" novalidate>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Name </label>
								<input type="text" name="name" placeholder="Your Name" ng-model="reguser.name" required>
								<span style="color:green" ng-show="myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Username is required.</span></span>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Email </label>
								<input type="email" name="email" placeholder="Your Email" ng-model="reguser.email" required>
								<span style="color:green" ng-show="myForm.email.$invalid">
								<span ng-show="myForm.email.$error.required">Email is required.</span>
								<span ng-show="myForm.email.$error.email">Invalid email address.</span></span>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Password </label>
								<input type="text" name="pw" placeholder="Password"  ng-model="reguser.password" required>
								<span style="color:green" ng-show="myForm.pw.$invalid">
								<span ng-show="myForm.pw.$error.required">Password is required.</span>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Rewrite password </label>
								<input type="text" name="pw2" placeholder="Password" ng-model="reguser.pw2" required>
								<span style="color:green" ng-show="myForm.pw2.$invalid">
								<span ng-show="myForm.pw2.$error.required">Password is required.</span>
							</span>
						</div>
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<button ng-click="register()" class="btn" ng-disabled="myForm.name.$invalid || myForm.email.$invalid || myForm.pw.$invalid || myForm.pw2.$invalid">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- //footer -->
</body>
</html>